.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
  box-sizing: content-box;
  .search-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    .search-icon {
      position: absolute;
      margin-top: 16px;
      margin-left: 15px;
      z-index: 999;
    }
    .search-input {
      padding-left: 50px;
      border: 3px solid #838383;
      background: #A2A2A2;
      color: #fff;
      font-weight: 400;
      &::placeholder {
        color: #fff;
      }
    }
    .search-button {
      font-weight: 700;
      margin-left: 20px;
      width: 200px;
      border-radius: 100px;
    }
  }
}