.content {
  display: flex; 
  justify-content: space-between;
}

.videoInput {
  margin: 2em 0;
}

.videoBox {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  overflow: hidden;
  width: 100%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.sidemenu {
  width: 30%;
  margin-left: 20px;
}