body {
  position: relative;
  background: #484848;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.swal2-container {
  font-family: 'Poppins';
}
.swal2-confirm {
  color: #7D4CDB !important;
  font-weight: 700 !important;
  width: 170px;
  height: 50px;
  border-radius: 100px !important;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  font: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin: 0;
  background: transparent;
  overflow: visible;
  text-transform: none;
  border: 2px solid #6FFFB0 !important;
  border-radius: 18px;
  color: #444444;
  padding: 4px 22px;
  font-size: 18px;
  line-height: 24px;
  background: #6FFFB0 !important;
  color: #444444;
  border-radius: 18px;
  -webkit-transition-property: color, background-color, border-color, box-shadow;
  transition-property: color, background-color, border-color, box-shadow;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}